body{

font-family: Arial;
background: linear-gradient(to right,#1565c0,#42a5f5);
margin:0;
padding:0;
text-align:center;

}

h1{

color:white;
padding:20px;
font-size:35px;

}

input{

width:300px;
padding:12px;
margin:8px;
border:none;
border-radius:8px;
font-size:15px;

}

button{

padding:12px 25px;
background:#00c853;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#009624;

}

#lista{

width:90%;
margin:auto;
padding-bottom:30px;

}

.card{

background:white;
padding:20px;
margin:15px auto;
border-radius:15px;
width:80%;
box-shadow:0px 0px 10px rgba(0,0,0,0.3);
text-align:left;

.encabezado{

padding:20px;

}

.encabezado p{

color:white;
font-size:18px;
margin-top:-10px;

#dashboard{

display:flex;
justify-content:center;
gap:20px;
margin:20px;

}

.box{

background:white;
padding:20px;
border-radius:15px;
width:200px;
box-shadow:0px 0px 10px rgba(0,0,0,0.2);

}

.box h2{

font-size:40px;
margin:0;
color:#1565c0;

}

